<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/vue.min.js"></script>
    <link rel="import" type="text/html" href="/view/ab" />
    <script>
        addEventListener("load",()=>{
            var app = new Vue({
                el: '#app',
                data: {
                    message: 'Hello Vue!'
                }
            })
        })
    </script>
</head>

<body>
    <div id="app">
        {{message}}
    </div>
    Hello WebBone;
</body>

</html>